{{> head}} {{> navbar}}
<div class="row">

    <div class="col-6">
        <h1>{{ titulo }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quo incidunt quas sint, assumenda aspernatur dolores.
            Sint sequi qui quae corrupti molestias quod, at ullam magnam, natus perferendis explicabo expedita.</p>
    </div>


    <div class="col-6">
        <img src="/assets/img/node.png" class="img-thumbnail">
    </div>
</div>
{{> footer}}